/* variables */
:root {
  --primary-clr: #42d3b2;
  --white-text-100: #fcfcfc;
  --white-text-200: #f4f4f4;
  --placeholder-text: #7c7d7c;
  --input-text: #333;

  --ff-primary: "poppins", sans-serif;
}
/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: var(--ff-primary);
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: var(--white-text-200);
}
button {
  background: none;
  border: none;
}
#login,
#signup {
  color: var(--white-text-100);
  font-size: 2.2rem ;
}
input {
  border: none;
  outline: none;
}
input::placeholder {
  font-size: 1.5rem;
  color: var(--placeholder-text);
}
/* typo */
h1 {
  font-size: 3rem;
  color: var(--white-text-100);
}

input {
  font-size: 2rem;
  padding: 0.5em 1em;
  border-radius: 0.8rem;
}

a {
  font-size: 1.5rem;
}

/* mobile design */
.grid-container {
  width: 100%;
  height: 100vh;
  background: var(--primary-clr);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.img-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.6;
  pointer-events: none;
  width: 90%;
}
.heading-text {
  grid-column: 2/12;
  margin-top: 2rem;
  z-index: 1;
}

.form-container {
  grid-column: 2/12;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
form input {
  padding: 1rem 1.5rem;
  color: var(--input-text);
}
form .reset {
  font-size: 1.5rem;
  align-self: flex-end;
}
#login {
  margin-top: 2rem;
  cursor: pointer;
}
.signup {
  margin: 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.divider {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.divider span {
  font-size: 2rem;
}
.divider .line {
  width: 10rem;
  height: 0.2rem;
  background: var(--white-text-200);
}
.signup .divider {
  color: var(--white-text-200);
}

@media screen and (min-width: 500px) {
  * {
    font-size: 10px;
  }
  body{
    background: #e7e5e5;
  }
  .img-container{
    display: none;
    pointer-events: none;
  }
  .grid-container {
    width: 80%;
    height: 100vh;
  }
}

@media screen and (min-width: 600px) {
  * {
    font-size: 8px;
  }
  .grid-container {
    width: 60%;
    height: auto;
    border-radius: 0.8rem;
  }
  input {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 800px) {
  * {
    font-size: 8px;
  }
  .grid-container {
    width: 40%;
    height: auto;
  }
}
@media screen and (min-width: 1000px) {
  * {
    font-size: 8px;
  }
  .grid-container {
    width: 30%;
    height: auto;
  }
}
