<nav class="nav">
    <a href="/"><div class="progsake">
        <p>ProgSake</p>
    </div></a>
    <div class="links">
    <a href="/login">Login</a>
    <a href="/signup">SignUp</a>
    </div>
</nav>