{{>nav}}
<div class="indexPage-container">

      <div class="general-awareness">
            <p>This website is a work of fiction. All the characters assigned to the users are completely imaginary and fictional, so please do not try to search for one in real world or else people might think you are stupid. All the rights of the characters are owned by Marvel Cinematic Universe (MCU) and Detective Comics Extended Universe (DCEU). We tried to buy the rights from them but couldn't because of the following reasons:<br>
                  We didn't have money.<br>
                  We don't know how to.<br>
                  We didn't have money.<br>
            </p>
            <br>
            <p >Why us?<br>There are tons of websites/applications out there to waste time but we will not only help you in wasting your time, you will also get no entertainment here. All you will get here is a character which you will probably be familiar with and each time you refresh the page...bam...there's a new character.</p>
      </div>
      <div class="progsake">
            <div class="progsakeLogo"></div>
            <div class="progsakeName" id="rigid">
                  <p>ProgSake</p>
                  <p id="sloganne">For the sake of programming</p>
            </div>
      </div>
      <div class="border">--------------------------- ABOUT US ---------------------------</div>
      <div class="saurabh ceo">
            <div class="myImage"></div>
            <div class="aboutMe"><p>Saurabh Awasthi<br>BCA (2021-24)<br>SRMGPC</p></div>
            <div class="contact"><p>Email: &nbsp;saurabhawasthi618@gmail.com</p><p>LinkedIn: &nbsp;saurabh-awasthi</p></div>
      </div>
      <div class="uttam ceo">
            <div class="myImage"></div>
            <div class="aboutMe"><p>Uttam Shrestha<br>BTech (2021-25)<br>BBD EC</p></div>
            <div class="contact"><p>Email: &nbsp;uttamshrestha09@gmail.com</p><p>LinkedIn:&nbsp; uttam-shrestha</p></div>
      </div>
</div>
{{>footer}}
<script>
      window.addEventListener('load', () => {
            if (window.innerWidth > 900) {
                  const windowHeight = window.innerHeight;
                  const navHeight = document.querySelector('.nav').offsetHeight;
                  const footerHeight = document.querySelector('.footer').offsetHeight;
                  const pageContainer = document.querySelector('.indexPage-container');
                  const height = (windowHeight - navHeight - footerHeight) + 'px';
                  pageContainer.style = `height: ${height}`;
            }
      });

</script>