{{>nav}}
<div class="indexPage-container"></div>
{{>footer}}
<script>
      window.addEventListener('load', () => {
            if (window.innerWidth > 900) {
                  const windowHeight = window.innerHeight;
                  const navHeight = document.querySelector('.nav').offsetHeight;
                  const footerHeight = document.querySelector('.footer').offsetHeight;
                  const pageContainer = document.querySelector('.indexPage-container');
                  const height = (windowHeight - navHeight - footerHeight) + 'px';
                  pageContainer.style = `height: ${height}`;
            }
      });

</script>