{{>nav}}
<div class="indexPage-container">

      <div class="general-awareness">
            <p style="font-size: 3rem">This website is a work of fiction.<br>All the characters assigned to the users are completely imaginary and fictional.<br>Do not try to search for one in real world.<br>All the rights are owned by Marvel Cinematic Universe (MCU) and Detective Comics Extended Universe (DCEU).<br>We tried to buy the rights from them but couldn't because of the following reasons:<br>
                  We didn't have money.<br>
                  We couldn't reach them.<br>
                  We didn't have money.<br>
            </p>
      </div>
      <div class="saurabh ceo">
            <div class="myImage"></div>
            <div class="aboutMe"><p>Saurabh Awasthi<br>BCA (2021-24)<br>SRMGPC</p></div>
            <div class="contact"><p>Email: &nbsp;saurabhawasthi618@gmail.com</p><p>LinkedIn: saurabh-awasthi</p></div>
      </div>
      <div class="uttam ceo">
            <div class="myImage"></div>
            <div class="aboutMe"><p>Uttam Shrestha<br>BTech (2021-25)<br>BBD EC</p></div>
            <div class="contact"><p>Email: &nbsp;uttamshrestha09@gmail.com</p><p>LinkedIn: uttam-shrestha</p></div>
      </div>
</div>
{{>footer}}
<script>
      window.addEventListener('load', () => {
            if (window.innerWidth > 900) {
                  const windowHeight = window.innerHeight;
                  const navHeight = document.querySelector('.nav').offsetHeight;
                  const footerHeight = document.querySelector('.footer').offsetHeight;
                  const pageContainer = document.querySelector('.indexPage-container');
                  const height = (windowHeight - navHeight - footerHeight) + 'px';
                  pageContainer.style = `height: ${height}`;
            }
      });

</script>