@media screen and (min-width: 500px) {
  * {
    font-size: 10px;
  }

  .img-container {
    display: none;
    pointer-events: none;
  }

  .grid-container {
    width: auto;
    align-content: center;
  }

  .heading-text,
  .form-container {
    grid-column: 3/11;
  }

  .already-registered, .already-registered a {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 600px) {
  * {
    font-size: 11px;
  }

  .heading-text,
  .form-container {
    grid-column: 4/11;
  }
}

@media screen and (min-width: 800px) {
  * {
    font-size: 10px;
  }

  .heading-text,
  .form-container {
    grid-column: 5/10;
  }
}

@media screen and (min-width: 1000px) {
  * {
    font-size: 9px;
  }

  .heading-text,
  .form-container {
    grid-column: 5/9;
  }
}

@media screen and (min-width: 1200px) {
  * {
    font-size: 8px;
  }

  .heading-text,
  .form-container {
    grid-column: 5/9;
  }
}

@media screen and (max-width: 540px) {


  .form-container {
    padding: 2rem;
  }

  .registered-msg {
    font-size: 1.4rem;
  }

  /* index page  */

  .indexPage-container {
    height: 85vh;
    /* display: grid; */
    display: flex;
    flex-direction: column; 
    
  }
  
  .general-awareness {
    padding: 2rem 1rem 0 2rem;
    /* text-align: center; */
  }
  .general-awareness p {
    font-size: 1.35rem;
  }
  
  .indexPage-container .progsake {
    /* background: black; */
    padding: 2rem 4rem;
  }
  .progsake .progsakeLogo {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
  }
  .progsakeName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    /* padding-bottom: 2rem; */
  }
  
  #rigid p{
    color: black;
    text-decoration: underline;
    font-size: 3.2rem;
  }
  p#sloganne{
    margin-top: -1rem;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .border {
    font-size: 1.5rem;
    margin-top: 3rem;
    text-align: center;
  }
  

  .uttam {
    margin-top: -4rem;
  }
  .ceo {
    /* background: black; */
    /* border-radius: 80rem; */
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    align-items: center;
  }
  
  .myImage {
    background: black;

    height: 10rem;
    width: 10rem;

    border-radius: 50%;
    margin: 2px;
    grid-row: 2 / 20;
    grid-column: 2 / 9;

    transform: scale(1);

  }
  .aboutMe {
    color: black;
    padding: 1rem 0 0 ;
    grid-row: 3 / 10;
    grid-column: 10 / 20;
  }
  .aboutMe p {
    font-size: 1.2rem;
    letter-spacing: .2rem;
  }
  .contact {
    color: black;
    grid-row:11 / 20;
    grid-column: 10 / 20;

    margin: 0;

  }
  .contact p {
    /* line-height: 4rem; */
    font-size: 1rem;
  }
  .footer {
    position: relative;
    top: 65%;    
    /* bottom: 0%; */
  }
}

@media screen and (max-width: 400px) {
  html{
    font-size: 9.5px;
  }
}