.profile-container h1 {
  font-size: inherit;
}
.profile-container {
  height: 100vh;
  width: 100%;
  background-color: #1e1e1e;
  padding: 2rem 0 2rem 2rem;
}

.character {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  overflow: hidden;
}

.character h1 {
  font-size: 1.5rem;
}
.character-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.character img {
  object-fit: cover;
}
.character h1 {
  font-size: 1.5rem;
}

.user {
  width: 60%;
  padding-top: 2rem;
}
.user .char-name {
  font-size: 2.25rem;
}

.user .about {
  font-size: 1.15rem;
  color: #cacad1;
  letter-spacing: 0.4px;
}
